<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="logFileBasePath">./logs</Property>
	</Properties>
	<Appenders>
		<RollingFile name="File"
			fileName="${logFileBasePath}/logfile.log"
			filePattern="${logFileBasePath}/logfile-%d{yyyy-mm-dd}.log">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<SizeBasedTriggeringPolicy size="50MB" />
		</RollingFile>
	</Appenders>
	<Loggers>

		<Root level="info">
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>